<div>
    <h3><i class="material-icons">chat_bubble_outline</i>{{vm.testString}}</h3>
</div>
<div id="user-container">
    <div hidden id="user-pic"></div>
    <div hidden id="user-name"></div>
    <button hidden id="sign-out" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
        Sign-out
    </button>
    <button hidden id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
        <i class="material-icons">account_circle</i>Sign-in with Google
    </button>
</div>
