<md-card>
    <ul ng-repeat="item in vm.todoItems">
        <li layout="row" layout-align="space-between center">
            <div flex="30">{{item}}</div>
            <div flex="30">delete</div>
        </li>
    </ul>
</md-card>

<md-card>
    <md-input-container>
        <input type="text" ng-model="vm.newItem" required>
        <md-button ng-click="vm.addTodoItem(vm.newItem)">Click me</md-button>
    </md-input-container>
</md-card>

<div layout="row">
    <div flex="20">
        [flex="20"]
    </div>
    <div flex="70">
        [flex="70"]
    </div>
    <div flex hide-sm hide-xs>
        [flex]
    </div>
</div>